table {
  padding: 0px;
  border-spacing: 0px;
  border-collapse: collapse;
}
thead {
  font-weight: bold;
}
td {
  border: 1px solid #666;
  padding: 0px 5px 0px 5px;
}
.selectable:hover {
  background-color: rgba(255,255,255,0.4);
  cursor: pointer;
}
.float_left {
  float: left;
}
.float_right {
  float: right;
}
.bold {
  font-weight: bold;
}
.header_bg {
  background-color:#eee;
  color:black;
}
.selected_row {
  background-color: rgba(0,200,100,0.2);
  text-shadow:0 0 3px #0f0;
}
.selected_cell {
  font-weight: bold;
}

/* -------------------- */
/*
tr:nth-child(2)
{
  width:5em;
}
*/

td:nth-child(1), td:nth-child(3), td:nth-child(8)
{ border-right:solid gray 3px; }
